<section class="pets section" id="pets">
  <div class="pets__container container">
    <h2 class="section__header">Our friends who<br>are looking for a house</h2>
    <div class="section__content">
      <div class="pets__paginator pets-paginator">
        <div class="pets-paginator__wrapper">
          <div class="pets-paginator__container">

            <ul class="pets-paginator__list">
              <li class="pets-paginator__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/katrine.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Katrine</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>
              </li>
      
              <li class="pets-paginator__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/jennifer.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Jennifer</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>
              </li>
      
              <li class="pets-paginator__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/woody.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Woody</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>
              </li>
      
              <li class="pets-paginator__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/sophia.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Sophia</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>
              </li>
      
              <li class="pets-paginator__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/timmy.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Timmy</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>
              </li>
      
              <li class="pets-paginator__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/charly.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Charly</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>
              </li>
      
              <li class="pets-paginator__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/scarlett.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Scarlett</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>
              </li>
      
              <li class="pets-paginator__list-item">
                <div class="pet-card">
                  <div class="pet-card__img-container">
                    <img src="<%= require('../../assets/pictures/pets/freddie.png') %>" alt="charly">
                  </div>
                  <h3 class="pet-card__title">Freddie</h3>
                  <button class="pet-card__button button">Learn more</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="pets-paginator__controls">
          <button class="button button_circle button_circle-inactive" data-btn="first">&lt;&lt;</button>
          <button class="button button_circle button_circle-inactive" data-btn="prev">&lt;</button>
          <button class="button button_circle button_circle-active" data-btn="page-number">1</button>
          <button class="button button_circle" data-btn="next">&gt;</button>
          <button class="button button_circle" data-btn="last">&gt;&gt;</button>
        </div>
      </div>
    </div>
  </div>
</section>
