<section class="pets section" id="pets">
  <div class="pets__container container">
    <h2 class="section__header">Our friends who<br>are looking for a house</h2>
    <div class="section__content">
      <div class="pets__slider pets-slider">
        <ul class="pets-slider__list">
          <li class="pets-slider__list-item pets-slider-card">
            <div class="pets-slider-card__img-container">
              <img src="<%= require('../../assets/pictures/pets/katrine.png') %>" alt="charly">
            </div>
            <h3 class="pets-slider-card__title">Katrine</h3>
            <button class="pets-slider-card__button button">Learn more</button>
          </li>
  
          <li class="pets-slider__list-item pets-slider-card">
            <div class="pets-slider-card__img-container">
              <img src="<%= require('../../assets/pictures/pets/jennifer.png') %>" alt="charly">
            </div>
            <h3 class="pets-slider-card__title">Jennifer</h3>
            <button class="pets-slider-card__button button">Learn more</button>
          </li>
  
          <li class="pets-slider__list-item pets-slider-card">
            <div class="pets-slider-card__img-container">
              <img src="<%= require('../../assets/pictures/pets/woody.png') %>" alt="charly">
            </div>
            <h3 class="pets-slider-card__title">Woody</h3>
            <button class="pets-slider-card__button button">Learn more</button>
          </li>
  
          <li class="pets-slider__list-item pets-slider-card">
            <div class="pets-slider-card__img-container">
              <img src="<%= require('../../assets/pictures/pets/sophia.png') %>" alt="charly">
            </div>
            <h3 class="pets-slider-card__title">Sophia</h3>
            <button class="pets-slider-card__button button">Learn more</button>
          </li>
  
          <li class="pets-slider__list-item pets-slider-card">
            <div class="pets-slider-card__img-container">
              <img src="<%= require('../../assets/pictures/pets/timmy.png') %>" alt="charly">
            </div>
            <h3 class="pets-slider-card__title">Timmy</h3>
            <button class="pets-slider-card__button button">Learn more</button>
          </li>
  
          <li class="pets-slider__list-item pets-slider-card">
            <div class="pets-slider-card__img-container">
              <img src="<%= require('../../assets/pictures/pets/charly.png') %>" alt="charly">
            </div>
            <h3 class="pets-slider-card__title">Charly</h3>
            <button class="pets-slider-card__button button">Learn more</button>
          </li>
  
          <li class="pets-slider__list-item pets-slider-card">
            <div class="pets-slider-card__img-container">
              <img src="<%= require('../../assets/pictures/pets/scarlett.png') %>" alt="charly">
            </div>
            <h3 class="pets-slider-card__title">Scarlett</h3>
            <button class="pets-slider-card__button button">Learn more</button>
          </li>
  
          <li class="pets-slider__list-item pets-slider-card">
            <div class="pets-slider-card__img-container">
              <img src="<%= require('../../assets/pictures/pets/freddie.png') %>" alt="charly">
            </div>
            <h3 class="pets-slider-card__title">Freddie</h3>
            <button class="pets-slider-card__button button">Learn more</button>
          </li>
        </ul>
        <div class="pets-slider__controls">
          <button class="button button_circle button_circle-inactive">&lt;&lt;</button>
          <button class="button button_circle button_circle-inactive">&lt;</button>
          <button class="button button_circle button_circle-active">1</button>
          <button class="button button_circle">&gt;</button>
          <button class="button button_circle">&gt;&gt;</button>
        </div>
      </div>
    </div>
  </div>
</section>
