<section class="help section container" id="help">
  <h2 class="section__header">How you can help<br>our shelter</h2>
  <div class="section__content">
    <ul class="help__list">
      <li class="help__list-item">
        <div class="help__list-item-icon">
          <img src="<%= require('../../assets/svg/help/icon-pet-food.svg') %>" alt="pet food">
        </div>
        <h3 class="help__list-item-title">Pet food</h3>
      </li>
      <li class="help__list-item">
        <div class="help__list-item-icon">
          <img src="<%= require('../../assets/svg/help/icon-transportation.svg') %>" alt="pet food">
        </div>
        <h3 class="help__list-item-title">Transportation</h3>
      </li>
      <li class="help__list-item">
        <div class="help__list-item-icon">
          <img src="<%= require('../../assets/svg/help/icon-toys.svg') %>" alt="pet food">
        </div>
        <h3 class="help__list-item-title">Toys</h3>
      </li>
      <li class="help__list-item">
        <div class="help__list-item-icon">
          <img src="<%= require('../../assets/svg/help/icon-bowls-and-cups.svg') %>" alt="pet food">
        </div>
        <h3 class="help__list-item-title">Bowls and cups</h3>
      </li>
      <li class="help__list-item">
        <div class="help__list-item-icon">
          <img src="<%= require('../../assets/svg/help/icon-shampoos.svg') %>" alt="pet food">
        </div>
        <h3 class="help__list-item-title">Shampoos</h3>
      </li>
      <li class="help__list-item">
        <div class="help__list-item-icon">
          <img src="<%= require('../../assets/svg/help/icon-vitamins.svg') %>" alt="pet food">
        </div>
        <h3 class="help__list-item-title">Vitamins</h3>
      </li>
      <li class="help__list-item">
        <div class="help__list-item-icon">
          <img src="<%= require('../../assets/svg/help/icon-medicines.svg') %>" alt="pet food">
        </div>
        <h3 class="help__list-item-title">Medicines</h3>
      </li>
      <li class="help__list-item">
        <div class="help__list-item-icon">
          <img src="<%= require('../../assets/svg/help/icon-collars-leashes.svg') %>" alt="pet food">
        </div>
        <h3 class="help__list-item-title">Collars / leashes</h3>
      </li>
      <li class="help__list-item">
        <div class="help__list-item-icon">
          <img src="<%= require('../../assets/svg/help/icon-sleeping-area.svg') %>" alt="pet food">
        </div>
        <h3 class="help__list-item-title">Sleeping areas</h3>
      </li>
    </ul>
  </div>
</section>
