<%- require('../../templates/head.ejs')() %>
<body>
  <%- require('../../templates/modal.ejs')() %>
  <%- require('../../templates/header.ejs')({page: 'header_main'}) %>
  <%- require('./hero.ejs')() %>
  <%- require('./about.ejs')() %>
  <%- require('./pets.ejs')() %>
  <%- require('./help.ejs')() %>
  <%- require('./donation.ejs')() %>
  <%- require('../../templates/footer.ejs')() %>
</body>
</html>