<%- require('../../templates/head.ejs')() %>
<body>
  <%- require('../../templates/header.ejs')() %>
  <main class="main">
    <%- require('./hero.ejs')() %>
    <%- require('./pets.ejs')() %>
    <%- require('./help.ejs')() %>
    <%- require('./donation.ejs')() %>
  </main>
  <%- require('../../templates/footer.ejs')() %>
</body>
</html>